// ------------
// Newly added CSS
// ------------
html {
  margin: 0px;
  padding: 0px;
}

div.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height: @footer-height;
  width:100%;
  background:#999;
}

#content {
  margin-top: @header-height;
  margin-bottom: @footer-height;
  padding: 1%;
  padding-bottom: @footer-height * 2;
  
  margin: 0 26px 0 26px;
  background: #fff;
  box-shadow: inset 0px 0px 4px -2px #9e9e9e;
  border-radius: 2px;
  padding:20px;
}

div.content-page {
  display: none;
}

#button-francais {
  display: inline;
  float: right;
  margin-right: 45px;
  padding: 5px 20px;
  color: #fff;
  border: 1px solid black;

  .gradient(@red, @dark-red);
  .button();
}
