// ------------
// Newly added CSS
// ------------
html {
  margin: 0px;
  padding: 0px;
}

#content {
  margin-top: @header-height;
  margin-bottom: @footer-height;
  padding: 1%;
  padding-bottom: @footer-height * 2;
  
  margin: 0 26px 0 26px;
  //background: #fff;
  box-shadow: inset 0px 0px 4px -2px #9e9e9e;
  border-radius: 2px;
  padding:20px;
}

div.content-page {
  display: none;
}
